.container
  .jumbotron{style: 'height: auto'}
    .row
      .col-sm-3
        .panel.user-styling
          .panel-heading
            %h1
              %i.fa.fa-users   
          .panel-body
            Users count
            .badge
              = @total_user            
      .col-sm-3
        .panel.user-styling
          .panel-heading
            %h1
              %i.fa.fa-male   
          .panel-body
            Users male count
            .badge
              = @user_male 
      .col-sm-3
        .panel.user-styling
          .panel-heading
            %h1
              %i.fa.fa-female   
          .panel-body
            Users female count
            .badge
              = @user_female
    .row
      .col-sm-4
        #bar-chart-for-users
      .col-sm-4
        #pie-chart-for-users
      .col-sm-4
        = render 'test_bar', locals: {users: @users}

  .jumbotron     
    %h3.page-heading
      User listing
      = link_to new_user_path, class: "btn btn-primary", style: "margin-bottom: 10px; float:right;"  do
        %i.fa.fa-plus
        Add User
    .table-responsive
      %table.table.table-striped.table-bordered
        %thead.thead-light
          %tr.table-head
            %th First Name
            %th Last Name
            %th Gender
            %th Email
            %th Date Of Birth
            %th Action
            %th Age
        %tbody.tbody-bg
          - @users.each do |user|
            %tr
              %td= user.first_name.capitalize
              %td 
                = user.last_name.capitalize
              %td
                = user.gender  
              %td
                = user.email  
              %td= user.dob 

              %td 
                = link_to edit_user_path(id: user.id), class: "btn btn-primary" do
                  %i.fa.fa-user
                  Edit User
                = link_to user_path(id: user.id), data:{confirm: "Are you sure,you want to delete this user?"}, method: :delete, class: "btn btn-primary" do
                  %i.fa.fa-user 
                  Delete   
              %td 
                / = age(user.dob)   
:javascript
  $(document).ready(function() {
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ["Element", "Density", { role: "style" } ],
          ["Total User", #{@total_user.to_i}, "#b87333"],
          ["Male User",  #{@user_male.to_i}, "silver"],
          ["Female User", #{@user_female.to_i}, "gold"],
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
                         { calc: "stringify",
                           sourceColumn: 1,
                           type: "string",
                           role: "annotation" },
                         2]);

        var options = {
          title: "Density of Precious Metals, in g/cm^3",
          width: 300,
          height: 200,
          bar: {groupWidth: "95%"},
          legend: { position: "none" },
        };
        var chart = new google.visualization.BarChart(document.getElementById("bar-chart-for-users"));
        chart.draw(view, options);
    }


    google.charts.setOnLoadCallback(drawPie);
    function drawPie() {
      var data = google.visualization.arrayToDataTable([
        ['USERS', 'COUNT'],
        ['MALE',   #{@user_male.to_i}],
        ['FEMALE', #{@user_female.to_i}],
      ]);
      var options = {
        title: 'Users Metrics'
      };
      var chart = new google.visualization.PieChart(document.getElementById("pie-chart-for-users"));
      chart.draw(data, options);
    }
  });
 