%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      .navbar-brand
        = link_to 'Nik Project', "#"
    %ul.nav.navbar-nav
      %li.active
        = link_to 'Game', games_path
      %li.active
        = link_to 'Book', books_path
      %li.active
        = link_to 'User', users_path 
      %li.active
        = link_to 'Car', cars_path      
      
